<header>
    <div class="container">
        <div class="logo"><a href="/">LittleLotus</a></div>
        <nav>
            <a href="/">Home</a>
            <a href="/post/new">New Post</a>
            <th:block th:if="${user != null}">
                <span th:text="${user.username}"></span>
                <a href="/logout">Logout</a>
            </th:block>
            <th:block th:if="${user == null}">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </th:block>
        </nav>
    </div>
</header>
